{
"timePeriods": [{"startMins":180,"endMins":300}],
"ledEnabled": true,
"lowVoltageCutoffEnabled": true,
"batteryLevelCheckEnabled": true,
"sampleRate": 384000,
"gain": 2,
"recordDuration": 55,
"sleepDuration": 5,
"localTime": false,
"dutyEnabled": true,
"passFiltersEnabled": true,
"filterType": "high",
"lowerFilter": 50000,
"higherFilter": 65535,
"amplitudeThresholdingEnabled": true,
"amplitudeThreshold": 512,
"requireAcousticConfig": false,
"displayVoltageRange": false
}