{
"timePeriods": [{"startMins":510,"endMins":690}],
"ledEnabled": true,
"lowVoltageCutoffEnabled": true,
"batteryLevelCheckEnabled": true,
"sampleRate": 32000,
"gain": 2,
"recordDuration": 55,
"sleepDuration": 5,
"localTime": false,
"firstRecordingDate": "2021-06-01",
"lastRecordingDate": "2021-07-01",
"dutyEnabled": false,
"passFiltersEnabled": false,
"filterType": "band",
"lowerFilter": 6000,
"higherFilter": 16000,
"amplitudeThresholdingEnabled": false,
"amplitudeThreshold": 0,
"requireAcousticConfig": false,
"displayVoltageRange": false
}